footer {
  height: 67px;
}

.container {
  padding: 0 213px;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 960px) {
    padding: 0 133px;
  }
  @media screen and (max-width: 640px) {
    padding: 0 66px;
  }
  @media screen and (max-width: 375px) {
    padding: 0 24px;
  }
}

.version {
  font-size: 14px;
  line-height: 16px;
  border-width: 1px;
  border-radius: 12px;
  width: 126px;
  height: 24px;
  padding: 3px 8px 5px 8px;
}
