.App {
  text-align: center;

  &__header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  &__logo {
    height: 40vmin;
    pointer-events: none;
    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  &__link {
    color: #61dafb;
  }
}

.large {
  font-size: 21px;
  line-height: 32px;
  font-weight: 500;
}

.regular {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.small {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
