.helpTips {
  isolation: isolate;
}

.helpTipsWrapper {
  margin-top: 30px;
  grid-template-rows: repeat(1, minmax(0, 1fr));
  grid-template-columns: none;
  grid-auto-flow: column;
  gap: 10px;
}

.title {
  padding: 100px 374px 0;
}

.path {
  width: 159px;
  height: 158px;
  position: absolute;
  top: 100px;
  right: 127px;
  z-index: -1;
}

@media screen and (max-width: 375px), (max-width: 640px), (max-width: 960px) {
  .helpTipsWrapper {
    padding: 0 32px;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: none;
    grid-auto-flow: row;
  }

  .title {
    text-align: start;
    padding: 67px 32px 0;
  }

  .path {
    display: none;
  }
}
